/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #d6e5f3;
}

/* Start Styles */

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.loading {
  font-size: 24px;
  color: #007FFF;
  margin: 0 auto;
}

.btn {
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #555;
  height: 40px;
  padding: 0 1rem;
  border-radius: 4px;
  line-height: 40px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.header__item {
  display: flex;
  flex-direction: column;
}

.file-upload {
  width: 100%;
  margin: 25px;
}

#input-file__input {
  display: none;
}

.file-upload label {
  cursor: pointer;
  background: #007FFF;
  border-radius: 3px;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  height: auto;
  width: 50%
}

.file-upload__wrap-btn {
  display: flex;
  justify-content: space-evenly;
}

.input-file__btn {
  margin-bottom: 20px;
  color: #007FFF;
}

.file-upload__btn {
  padding: 10px 25px;
  margin-right: 25px;
  width: 50%
}

.file-upload label:hover {
  background: #555
}

.btn.btn--primary {
  background-color: #007FFF;
  color: #fff;
}

.download__title {
  margin-bottom: 20px;
  margin-left: 25px;
  color: #007FFF;
}

.btn__file {
  align-self: flex-start;
  padding: 10px 40px;
  margin-left: 20px;
  border: 1px solid #007FFF;
  border-radius: 15px;
  cursor: pointer;
}

.btn__new {
  align-self: flex-start;
  padding: 20px 50px;
  margin-left: 20px;
  background-color: #007FFF;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
}

.btn.btn--secondary {
  background-color: #57595c;
  color: #fff;
}

.btn--edit {
  margin: 20px;
}

/* modal */

.modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 10;

  display: flex;
  visibility: hidden;
  overflow-y: auto;
  flex-direction: column;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);

  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  pointer-events: none;

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal.is-active {
  visibility: visible;

  opacity: 1;
  background: rgba(84, 77, 77, 0.65);

  -webkit-transform: scale(1);
  transform: scale(1);
  pointer-events: auto;
}

.modal__wrapper {
  position: relative;

  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;

  width: 100%;
  min-height: 100%;
  padding: 60px 40px;

  z-index: 10001;
}

.modal__overlay {
  top: 0;
  left: 0;
  position: absolute;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.modal--success .modal__content {
  display: flex;
  flex-wrap: wrap;

  padding-top: 117px;
  padding-bottom: 31px;

  background: url("../img/sprite/bg_modal.png") no-repeat top 0 left 0;
  background-color: #fefafa;
  background-size: 255px 95px;
}

.modal__content {
  position: relative;

  overflow: hidden;

  width: 50%;
  min-width: 430px;
  padding: 40px;

  border-radius: 4px;
  background-color: #fefafa;
}

.modal__close-btn {
  top: 23px;
  right: 23px;
  position: absolute;
}

.modal__close-btn-interactive-area {
  position: relative;
}

.modal__close-btn-interactive-area::before {
  top: 50%;
  left: 50%;
  position: absolute;

  width: 60px;
  height: 65px;

  content: "";
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* modal */

.main-container {
  padding: 50px;
  width: 100vw;
}

.button-cross {
  width: 14px;
  height: 14px;
  padding: 0;

  color: #585757;
  border: none;
  background-color: transparent;

  cursor: pointer;
  -webkit-transition: outline-color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: outline-color 0.3s ease;
  transition: color 0.3s ease;
}

.button-cross:hover {
  color: #c90606;
}

.button-cross:focus {
  color: #c90606;
  outline: none;
}

.button-cross__icon::before,
.button-cross__icon::after {
  top: 6.5px;
  left: -1.5px;
  position: absolute;

  width: 17px;
  height: 1px;

  background-color: currentColor;

  content: "";
}

.button-cross__icon::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-cross__icon::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (max-width: 1140px) {
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.todos {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  max-width: 25%;
}

.overdue {
  position: relative;
  border: 1px solid rgb(133, 15, 15);
}

.completed {
  position: relative;
  border: 1px solid rgb(27, 15, 133);
}

.overdue:hover::after {
  content: attr(data-title);
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  color: #fff;
  background: rgba(133, 15, 15, 0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 10px;
  border: 1px solid #333;
}

.completed:hover::after {
  content: attr(data-title);
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  color: #fff;
  background: rgba(37, 15, 133, 0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 10px;
  border: 1px solid #333;
}

.todo-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.todo-description {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 25px;
}

/* Header */
.header {
  background-color: #fff;
  padding: 1.5rem 0;
  width: 100%;
}

.header .header__inner {
  margin: auto;
  width: 100%;
  /* max-width: 540px; */
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
  color: #007FFF;
  margin-bottom: 1.5rem;
  text-align: center;
}

.header .header__filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header .header__filters .header__filters__item {
  margin-top: 1rem;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 1rem;
  color: #555;
  margin-right: 0.5rem;
  font-size: 12px;
  border-radius: 20px;
  background-color: #f3f0d7;
}

.header .header__filters .header__filters__item span {
  margin-right: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.5rem;
  font-size: 16px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.header .header__filters .header__filters__item span:hover {
  color: #FF7878;
}

/* todo-form */
.todo-form {
  width: 100%;
}

.header__data {
  padding-top: 40px;
  margin-left: 25px;
}

.header__data--text {
  margin-right: 10px;
}

.header__data--overdue {
  color: rgba(133, 15, 15, 0.9);
  margin-right: 10px;
}

.todo-form .todo-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.todo-form .todo-form__input,
.todo-form .todo-form__textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
  font-size: 14px;
  color: #555;
  font-weight: 700;
  outline: 0;
  -webkit-transition: border 0.05s ease-in;
  transition: border 0.05s ease-in;
}

.todo-form .todo-form__input:focus,
.todo-form .todo-form__textarea:focus {
  border: 2px solid #007FFF;
}

.todo-form .todo-form__input {
  height: 40px;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.todo-form .todo-form__input::-webkit-input-placeholder {
  font-size: 14px;
  color: #555;
  font-weight: 700;
}

.todo-form .todo-form__input:-ms-input-placeholder {
  font-size: 14px;
  color: #555;
  font-weight: 700;
}

.todo-form .todo-form__input::-ms-input-placeholder {
  font-size: 14px;
  color: #555;
  font-weight: 700;
}

.todo-form .todo-form__input::placeholder {
  font-size: 14px;
  color: #555;
  font-weight: 700;
}

.todo-form .todo-form__textarea {
  height: 90px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

/* body */
.body {
  width: 100%;
  padding: 1.5rem 0;
}

/* cards */
.cards {
  width: 100%;
}

.cards .cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card {
  width: 32%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 1rem 0.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  background-color: #fff;
}

.card .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  align-self: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.card .card__title {
  font-size: 16px;
  color: #555;
  font-weight: 700;
}

.card .card__remove-icon {
  cursor: pointer;
}

.card .card__remove-icon span {
  font-size: 18px;
  color: #555;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.card .card__remove-icon:hover span {
  color: #FF7878;
}

.card .card__body {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.card .card__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card .card__footer .footer__item {
  margin-top: 1rem;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 1rem;
  color: #555;
  margin-right: 0.5rem;
  font-size: 12px;
  border-radius: 20px;
  background-color: #f3f0d7;
}

.card .card__footer .footer__item span {
  margin-right: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.5rem;
  font-size: 16px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.card .card__footer .footer__item span:hover {
  color: #FF7878;
}

.card .card__text {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  font-weight: 500;
}

.card .card__dropdown {
  position: absolute;
  right: 6px;
  bottom: 14px;
}

.card .card__dropdown .card__dropdown__toggler {
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
}

.card .card__dropdown .card__dropdown__toggler span {
  color: #555;
  font-size: 18px;
}

.card .card__dropdown .card__dropdown__menu {
  background-color: #eee;
  -webkit-box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 3px -3px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 3px -3px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
  left: 10px;
  width: 0;
  height: 0;
  z-index: 11;
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in;
  transition: width 0.2s ease-in-out, height 0.2s ease-in;
}

.card .card__dropdown .card__dropdown__menu.card__dropdown__menu--show {
  width: 100px;
  height: 100px;
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in;
  transition: width 0.2s ease-in-out, height 0.2s ease-in;
}

.card .card__dropdown .card__dropdown__form .card__dropdown__form__radio {
  display: none;
}

.card .card__dropdown .card__dropdown__form .card__dropdown__form__radio:checked~label {
  background: #007FFF;
  color: #fff;
}

.card .card__dropdown .card__dropdown__form label {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  font-size: 14px;
  color: #555;
}


@media only screen and (max-width: 994px) {
  .card {
    width: 48%;
  }
}

@media only screen and (max-width: 660px) {
  .card {
    width: 100%;
  }
}